/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

/* Import tailwindcss */
@import "tailwindcss";
/* Import daisyui */
@plugin "daisyui" {
  themes: light --default;
}

/* Custom Config Tailwindcss */
@layer base {
  body {
    @apply font-quicksand;
  }

  :root {
    --color-primary: rgb(7, 42, 200);
    --font-quicksand: "Quicksand", sans-serif;

    --color-secondary: #50ffb1;
    --color-snow-white: rgb(253, 255, 252);
    --color-gray: rgb(209, 213, 219);
  }
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-tektur: "Tektur", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-boldonse: "Boldonse", sans-serif;

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-400: #d1d5db;
  --color-base-500: #9ca3af;
  --color-base-600: #6b7280;
  --color-base-700: #4b5563;
  --color-base-800: #1f2937;
  --color-base-900: #111827;
}
