@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Custom Config Tailwindcss */
@layer base {
  body {
    @apply font-sans;
  }

  :root {
    --color-primary: rgb(7, 42, 200);
    --color-secondary: #50ffb1;
    --color-snow-white: rgb(253, 255, 252);
    --color-gray: rgb(209, 213, 219);
  }
}

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-400: #d1d5db;
  --color-base-500: #9ca3af;
  --color-base-600: #6b7280;
  --color-base-700: #4b5563;
  --color-base-800: #1f2937;
  --color-base-900: #111827;
}
